
.purple-text {
    color: #605DEC;
}

.mint-text {
    color: #5CD6C0;
}

.darkgrey-text {
    color: #27273F;
}

.maingrey-text {
    color: #6E7491;
}

.grey-text {
    color: #7C8DB0;
}

.lightgrey-text {
    color: #A1B0CC;
}

.fs-1-1 {
    font-size: 1.1rem;
}